---
layout: default
---

<div class="home">

    
    <div class="row" >
                
      <div class="w3-mobile w3-display-container">
        <img class="mySlides" src="images/image-1.png" style="height: 200px; display: block; margin: 0 auto; margin-top: 40px">
        <img class="mySlides" src="images/image-2.png" style="height: 200px; display: block; margin: 0 auto; margin-top: 40px">
        <img class="mySlides" src="images/image-3.png" style="height: 200px; display: block; margin: 0 auto; margin-top: 40px">
        <img class="mySlides" src="images/image-4.png" style="height: 200px; display: block; margin: 0 auto; margin-top: 40px">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        <br></br>
        <iframe src="https://ghbtns.com/github-btn.html?user=projectpages&amp;repo=project-pages&amp;type=fork&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="123px" height="30px"></iframe>
        
        <iframe src="https://ghbtns.com/github-btn.html?user=projectpages&amp;repo=project-pages&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
        
          <p style="font-size:0.8em; color=black"> <b>CUSP 2017 cohorts </b> are group of urban data scientisit in training at NYU. 

      <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
      }
      </script>
    </div> 



 
  
    <div class="row pack">

        {% for post in paginator.posts %}   
            <div class="col-md-4 card">
                 
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                  </div>
                  {% if post.img %}
                  <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}">
                  {% endif %}
                  <div class="panel-body"><small>
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</small>
                    <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary btn-sm pull-right mt10">Read</a>
                  </div>
                </div>
            </div>
        
          {% endfor %}

    </div> 


    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
            <li><span>&laquo; Prev</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
            <li><span >Next &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>