---
layout: default
img: https://avatars2.githubusercontent.com/u/6595551?s=400&v=4

---
<div class="home">
 
  
    <div class="row pack">

        {% for post in paginator.posts %}   
            <div class="col-md-4 card">
             <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
                <div class="panel panel-default">
                  
                  {% if post.img %}
                  <img width="100%" src="{{site.baseurl}}{{site.url}}/images/{{post.img}}" alt="{{post.title}}">
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}{{site.url}}/images/{{site.default-image}}" alt="{{site.title}}">
                  {% endif %}
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ post.title }}</h3><br><span class="post-meta pull-left"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                  </div>
                  
                  <div class="panel-body">
                    {% if post.subtitle %}
                      <small>{{ post.subtitle }}</small>
                   {% else %}
                    <small>{{ post.excerpt | strip_html | strip_newlines | truncate: 70 }}</small>
                   {% endif %}
                  </div>
                </div>
                </a>
            </div>
        
          {% endfor %}

    </div> 
    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}">&laquo; Anterior</a></li>
          {% else %}
            <li><span>&laquo; Anterior</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}">Próxima &raquo;</a></li>
          {% else %}
            <li><span >Próxima &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>