---

---
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:image" content="{{site.baseurl}}{{site.url}}/images{{ page.img }}" />

{% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% endif %}
  
<!--  
{% if page.img %}{% capture img %}{{ page.img }}{% endcapture %}{% unless img contains 'http' %}{% capture img %}{{site.baseurl}}{{site.url}}/images{{ page.img }}{% endcapture %}{% endunless %}
-->
  
<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{site.baseurl}}{{site.url}}/images{{ page.img }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.subtitle %}
<meta name="twitter:description" content="{{ page.subtitle | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}
{% if site.twitter %}<meta name="twitter:site" content="@jesstemporal">
{% seo %}

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{{site.baseurl}}{{site.url}}/css/main.css">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>