center {
    font-size: small;
    margin-bottom: 1.5em;
    margin-top: -1em;
}

table {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

th {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: .4em;
}

tr:hover {
    background-color: #d1eeef;
}
