center {
    font-size: small;
    margin-bottom: 1.5em;
    margin-top: -1em;
}

table {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.github-project-share {
    width: 70%;
    margin: 0 auto;
}

.github-project-share-card {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #1bacaf5c;
    box-shadow: 1px 1px 3px #888;
    min-height: 250px;
    padding-: 10px;
    margin: 10px;
}

.github-project-share-card > p, h4 {
    margin: 10px;
    line-height: 1.4em;
    font-size: 1.2em;
}

.github-project-share-card > p > small {
    text-align: left;
}

.github-project-share-card > img {
    border-radius: 50%;
    width: 20%;
    margin: 10px;
}

th {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: .4em;
}

tr:hover {
    background-color: #d1eeef;
}
