center {
    font-size: small;
    margin-bottom: 1.5em;
    margin-top: -1em;
}

table {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.github-project-share {
    display: block;
    position: relative;
    width: 80%;
    border: 1px solid #1bacaf5c;
    margin: 1em auto 1em auto;
}

.github-project-share > p, h4 {
    width: 70%;
    float: left;
    padding: 3px;
    vertical-align: middle;
}

.github-project-share > img {
    width: 30%;
    border-radius: 5%;
    padding: 3px;
}

th {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: .4em;
}

tr:hover {
    background-color: #d1eeef;
}
