img {
    max-width: 100%;
}

.mt50 {
    margin-top: 50px;
}
.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}
.navbar-brand {
  line-height: 3;
}
.post-meta {
    color: $grey-color;
}

.panel {
    border:none;
    box-shadow: 0px 0px 1px $grey-color;
}

.panel:hover {
    box-shadow: 0px 0px 6px $grey-color;
}


footer {
    border-top: 1px solid $grey-color-light;
}

.social {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding: 5px 8px;
    }
.social:hover {
     opacity: 0.7;
}
.social img {
    width: 20px;
}

.quora img{
    width: 17px;
}

.facebook img {
    width: 16px;
}

.recent ul {
    list-style: none;
    padding: 0;
    text-align: justify;
}

.recent {
    padding: 10px;
    border: 1px solid $grey-color-light;
}

.post-img img {
    width: 100%;
}

