---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
<script async>
    (function() {
        var font = document.createElement('link'); 
        var font2 = document.createElement('link'); 
        font.type = 'text/css'; 
        font2.type = 'text/css'; 
        font.rel = 'stylesheet';
        font2.rel = 'stylesheet';
        font.href = '{{site.baseurl}}/css/bootstrap.min.css';
        font2.href = '//fonts.googleapis.com/css?family=Raleway:400,700';
        var s = document.getElementsByTagName('link')[0]; 
        var t = document.getElementsByTagName('link')[0]; 
        s.parentNode.insertBefore(font, s);
        t.parentNode.insertBefore(font2, t);
      })();
</script>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
