---
layout: compress
--- 

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  {% include head.html %}

  <body>
    <div class="container">
    {% include header.html %}

      <div class="wrapper">
        {{ content }}
      </div>

    {% include footer.html %}
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </div>
  </body>

</html>
